body {
    background-color: rgb(223, 232, 232);
    font-family: Cambria, Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: teal;
    font-weight: bold;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

h2 { 
    text-align: center;
    font-size: 24px;
    font-weight: bold
}

.question {
    display: none;
}

.results {
    display: none;
} 
